<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]>
    <!--<meta http-equiv="x-ua-compatible" content="IE=9"/>--><![endif]-->
    <title>用户登录</title>
    <!-- Bootstrap stylesheets -->
    <link rel="stylesheet" href="../common/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="../common/font-awesome-4.7.0/css/font-awesome.css">
    <script src="../common/js/jquery-3.3.1.js"></script>
    <script src="../common/js/jquery.validate.js"></script>
    <!-- Bootstrap -->
    <script src="../common/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="js/login.js"></script>
</head>

<body class="sign-in" onkeydown="keyLogin()">
<div class="sign-in-panel">
    <div class="row">
        <div class="col-md-8">
            <div class="sign-in-info">
                <div class="logo-panel m-b">
                    <h1 class="logo-text">洪泽湖洪水预报调度系统</h1>
                    <input id="type" type="hidden" value="">
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用</h4>
            </div>
            <div class="login-img">
                <img src="../common/images/hzh3.jpg" class="login-img-style"/>
                <img src="../common/images/hzh2.jpg" class="login-img-style"/>
                <img src="../common/images/hzh4.jpg" class="login-img-style"/>
            </div>
        </div>
        <div class="col-md-4">
            <form class="login-form" action="#">
                <h4 class="no-margins font-style">用户登录</h4>
                <!--<p class="m-t-md">欢迎使用</p>-->
                <input type="text" id="name" class="form-control username" placeholder="用户名"/>
                <input type="password" id="password" class="form-control password m-b" placeholder="密码"/>
                <span id="error-info" class="error-info"></span>
                <button id="btn-submit" class="btn btn-success btn-block" onclick="login()" type="button">登录</button>
            </form>

        </div>
    </div>
    <div class="sign-up-footer">
        <div class="pull-left">
            &copy; 2018 江苏省防办&河海大学版权所有.
        </div>
    </div>
</div>

</body>
</html>